
html {
  background-color: #000;
  color: #ddd;
}
/* 一级背景 */
.mask,
.m-main>*,
.lite-page-comment,
.lite-msg-list,
.lite-page-tab,
.comment-content[data-v-36b85f94],
.profile-header .prf-topbar,
.profile-header,
.m-panel,
.lite-msg,
.lite-page-list {
  background: #121212;
}
/* 二级背景 */
textarea,
.lite-page-list.list-bg,
.m-reles-top,
.card31,
.lite-btn-more,
.m-top-nav .nav-main::before,
.m-bar-panel,
.m-top-nav,
.m-wpbtn-list,
.lite-nav-sublist,
.composer-mini-wrap,
.lite-page-editor,
.lite-topbar,
.ntop-nav[data-v-b2b07652],
.lite-topbar.main-top .nav-main .inner-box:before,
.lite-topbar .nav-main .nav-plus:before,
.lite-topbar.main-top .nav-main .inner-box:after,
.card9 .weibo-rp {
  background: #1a1a1a;
}
/* 三级背景 */
.m-active,
.visible,
.m-wpbtn-lbox,
.card31 .m-search,
.nt-sbox[data-v-b2b07652],
.lite-bubble-list.bubble-l .bubble-box,
.lite-nav-sublist .m-auto-box span,
.lite-page-list .m-text-box .cmt-sub-txt,
.m-search div,
.card9 .weibo-rp .card.m-panel,
.card9 .card.m-panel,
.refresh-btn {
  background-color: #2a2a2a !important;
}
/* 链接 */
a,
.visible,
.lite-msg .m-text-box span,
.lite-page-list .m-text-box span,
.lite-page-list .m-text-box .cmt-sub-txt .total[data-v-11d91d52],
.lite-page-comment .lite-page-list:first-of-type .lite-bot-link,
.card9 .weibo-main a {
  color: #30a3f4;
}
/* 文字 */
.m-reles-nr span textarea,
.m-top-nav .nav-item li.m-cur span,
.lite-bubble-list.bubble-l .bubble-box,
.m-wpbtn-list li a,
.m-item-box,
.nt-search input[data-v-b2b07652],
.lite-nav-sublist,
.lite-page-tab .cur,
.composer-mini-wrap .textarea,
.lite-page-list .m-text-box .cmt-sub-txt span[data-v-11d91d52],
.lite-msg .m-text-box h4,
.lite-page-list .m-text-box h4,
.lite-topbar .nav-main .nav_item .item_li.cur,
.m-text-box h3,
.card9 .weibo-main .weibo-og,
.profile-header .prf-detail .m-text-box h3,
.card9 .weibo-rp .weibo-text {
  color: #ddd;
}
/* 次级文字、图标 */
.m-reles-top,
.composer-footer,
.composer-footer-box .lite-iconf,
.m-ctrl-box .m-diy-btn,
.lite-btn-more,
.m-top-bar .nav-ctrl,
.m-top-bar .nav-main,
.card4 .box-left .main-link,
.lite-page-editor .lite-iconf,
.nt-left .m-font[data-v-b2b07652],
.profile-header .prf-topbar .nav-right,
.profile-header .prf-topbar .nav-left,
.lite-iconf-profile:before,
.lite-iconf-msg:before,
.lite-iconf-releas:before,
.f-footer-ctrl .m-diy-btn,
.lite-page-top .nav-main,
.lite-page-top .m-font,
.f-footer-ctrl aside,
.lite-iconf-comments,
.lite-iconf-like,
.lite-iconf-liked,
.lite-iconf-report,
.lite-iconf-share {
  color: #bbb;
}
/* 边框 */
.visible:before,
.m-reles-top,
.card31 .m-search,
.card11.ctype-1 .card:not(.card9):not(.card59).m-panel:last-of-type,
.card11.ctype-1 .card:not(.card9):not(.card59).m-panel:first-of-type,
.card11.ctype-1 .card:not(.card9):not(.card59) .card-wrap,
.card9 .card-title,
.m-top-nav,
footer.m-ctrl-box,
.lite-page-comment .lite-page-list:first-of-type,
.m-panel,
.m-wpbtn-list li,
.card11.ctype-3 .card.m-panel:last-of-type,
.card9 .weibo-rp .card.m-panel,
.card9 .card.m-panel,
.m-search div[data-v-3a1729fe],
.m-search div,
.lite-line,
.lite-page-editor,
.lite-bot-line,
.lite-topbar,
.f-weibo.card9,
.refresh-btn {
  border-color: #333;
}

.m-line-gradient {
  background-color: #333;
}
/* 搜索页 */
.m-item-box::before,
.m-item-box::after {
  background-color: #333;
}
/* 三角箭头 */
.triangle {
  border-color: #ddd #0000 #0000 #0000;
}
/* 微博详情 */
.m-bar-panel,
.lite-page-tab {
  box-shadow: 0 1px 0 0 #333;
}
